body{
  background-image:url("../images/Star Wars.png")
}




.characterImg{

width:100px;
height:100px;
position: relative;

}



.enemiesImg{
  width:100px;
  height:100px;
  clear:both;

}


#charFrame{
  border-style:solid;
  border-width:5px;
  float:left;
  text-align:center;
  padding:30px;
}


#enemies{
clear:both;
border-style:solid;


}
